.Visual {
	width: 100%;
	height: calc(100vh - 90px);
	position: relative;

	.swiper {
		width: 100%;
		height: 100%;
		border: 1px solid aqua;
		.swiper-wrapper {
			.swiper-slide {
				width: 70%;
				height: 100%;
				border: 1px solid red;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-content: center;
				color: var(--pgColr);
			}
		}
	}
}
