.Layout {
	width: 70vw;
	margin: 100px auto;
	min-height: 60vh;
	opacity: 0;
	position: relative;
	top: 200px;
	transition: opacity 1s, top 1s;
	&.on {
		opacity: 1;
		top: 0px;
		h1 {
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	h1 {
		font-size: 0;
		font-weight: normal;
		opacity: 0.5;
		margin-bottom: 10px;
		span {
			font-size: 5rem;
			transform: scale(4);
			opacity: 0;
			transition-property: opacity, transform;
		}
	}
	.bar {
		width: 50px;
		height: 1px;
		background: rgba(var(--baseColor-code), 0.2);
		opacity: 0.7;
		margin-bottom: 150px;
	}
	.btnTop {
		cursor: pointer;
		width: 50px;
		height: 50px;
		background: var(--baseColor);
		color: var(--bgColor);
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		position: fixed;
		bottom: 50px;
		right: 50px;
		z-index: 6;
		opacity: 0;
		transform: scale(1.1);
		transition: 0.5s;
		&.on {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.tablet {
	.Layout {
		width: 80vw;
		margin: 80px auto;
	}
}
