.benefits {
	margin-top: 100px;
	h2 {
		margin-bottom: 30px;
	}
	> article {
		display: flex;
		gap: 10px;
		h3 {
			font-size: 1rem;
			margin-bottom: 20px;
			line-height: 1;
		}
		> span {
			> span {
				color: #888;
			}
		}
	}
}
